.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  width: 380px;
  /* max-width: 90%; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid orange;
  box-shadow: 0px 4px 10px rgba(3, 3, 3, 0.1);
}

/* header: only sign up changed*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

/* sign up */
.text {
  color: orange;
  font-size: 28px;
  font-weight: 700;
}

.hero-inputs {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 500;
  padding: 5px;
  font-size: 14px;
}

select {
  width: 100px;
  height: 25px;
  padding: 2px;
  border: 1px solid orange;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

/* outer input */
.hero-input {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid orange;
  border-radius: 5px;
}

/* input ICON */
.input .icon {
  margin-right: 10px;
  color: black;
  font-size: 20px;
}

/* inner input */
.login-input {
  height: 40px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  margin-left: 18px;
}

/* forgot password */
.forgot-password {
  text-align: right;
  color: black;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

/* click me */
.click-here {
  color: rgb(103, 103, 103);
  cursor: pointer;
  text-decoration: none;
}

/* container */
.submit-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* shared style for buttons */
.auth-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40px;
  color: black;
  background: orange;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
}

/* proper hover effect */
.auth-button:hover {
  background: rgb(238, 155, 0);
}
