/* sidebar */
.student-sidebar {
  height: 100%;
  background-color: #000814;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.student-sidebar.closed {
  transform: translateX(-100%);
}

/* Hamburger outside sidebar */
.hamburger-student {
  position: fixed;
  top: 10px;
  left: 10px;
  background: #001934;
  color: white;
  border: none;
  z-index: 200;
  font-size: 20px;
  padding: 4px 6px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-fixed:hover {
  background: #003366;
}

/* title */
.student-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #001934;
  padding: 10px;
  margin-left: 35px;
}

/* inputs: all contain */
.s-inputs {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  flex-direction: column;
}

/*input: link + icon */
.s-input {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  /* height: 30px; */
}

/* hover: written text  */
.s-input:hover {
  background-color: #003566;
  border-radius: 5px;
  width: 90%;
  transition: 0.5s;
}

/* icon design */
.s-input .icon {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
}
