* {
  padding: 0;
  margin: 0;
}

.com-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 80px;
  align-items: start;
}

.com-container h1{
  margin-bottom: 80%;
  border-radius: 10px;
}

.c-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 5%;
}

.c-grid-box {
  height: 75%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
}

.c-grid-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;
}

.c-grid-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.c-grid-p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.blue {
  background-color: #1f23a3;
}

.yellow {
  background-color: #e3b324;
}

.green {
  background-color: #1c9c68;
}

.purple {
  background-color: rebeccapurple;
}

/* POST JOB-CARD */
.job-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 5%;
}

.job-grid:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .job-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .job-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.job-card {
  background: white;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
}

.job-info {
  font-size: 14px;
  color: gray;
}

.job-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.edit-btn {
  background: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* STUDENT ACCESS-CARD */
.stu-access {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 5%;
}

.stu-access:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.stu-access h2 {
  font-size: 20px;
  color: #060839;
}

.stu-access input {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.stu-access table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(255, 250, 250);
  border-radius: 5px;
  margin-top: 10px;
}

.stu-access thead {
  border-radius: 5px;
  font-size: 16px;
  color: #060839;
  text-align: left;
}

.stu-access tbody {
  border-radius: 5px;
  font-size: 14px;
  color: black;
  text-align: left;
}

.c-short-btn {
  background-color: #e3b324;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.c-reject-btn {
  background-color: #dc3545;
  color: black;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* INTERVIEW CARD */
.interview-card{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  margin-bottom: 5%;
}

.interview-card:hover{
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.interview-card h2{
  font-size: 20px;
  color: #060839;
}

.interview-sec{
  border-radius: 10px;
  padding: 5px;
}

.c-name{
  font-size: 14px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}

.c-date{
  font-size: 14px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}

.c-btn{
  font-size: 14px;
  padding: 3px;
  border: 1px solid #ccc;
  background-color: #1c9c68;
  color: white;
  border-radius: 5px;
}

.c-btn:hover{
  background-color: #0f6e48;
  transition: 0.5s;
}

.interview-card table{
  width: 100%;
}

.interview-card th{
  color: #060839;
  margin-right: px;
  background-color: #007bff;
}

/* haju bija sidebar nu lakhvanu baki chhe */

/* FEEDBACK */
.c-feedback {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 80px;
  width: 90%;
}

