.forgot-password-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.forgot-password-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(3, 2, 0, 0.1);
  overflow: hidden;
}

.forgot-password-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forgot-password-box {
  padding: 40px;
  text-align: center;
}

.forgot-password-box h2 {
  margin-bottom: 16px;
}

.forgot-password-box p {
  margin-bottom: 24px;
  color: #555;
}

.forgot-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.forgot-button {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0.75rem;
  background-color: #f43f5e;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.forgot-button:hover {
  background-color: #ff778e;
}

.back-to-login {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  color: #555;
  margin-top: 1rem;
}

.reset-password-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 20px;
}

.reset-password-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 900px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(3, 2, 0, 0.1);
  overflow: hidden;
}

.reset-password-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reset-password-box {
  padding: 40px;
  text-align: center;
}

.reset-password-box h2 {
  margin-bottom: 16px;
}

.reset-password-box p {
  margin-bottom: 24px;
  color: #555;
}

.reset-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.reset-button {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 0.75rem;
  background-color: #10b981;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #059669;
}
