/* Reset Styles */
* {
  padding: 0;
  margin: 0;
}

/* Student Dashboard Container */
.stu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 80px;
  width: 100%;
  /* background-color: #003566; */
  align-items: start;
}

/* Titles and Text */
.dash-title {
  color: #03071e;
  font-size: 24px;
  text-align: center;
}

.dash-text {
  color: #03071e;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

/* s-grid-box */
.s-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2x2 Grid */
  width: 75%;
  gap: 15px; /* Space between boxes */
  margin-top: 20px;
}

.s-grid-box {
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.s-grid-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  align-items: flex-start;
}

.s-grid-p {
  font-size: 24px;
  font-weight: bold;
}

/* Different background colors */
.blue {
  background-color: #1f23a3;
}

.green {
  background-color: #1c9c68;
}

.yellow {
  background-color: #e3b324;
}

.purple {
  background-color: rebeccapurple;
}

/* Profile Card */
.profile-card {
  width: 500px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  /* display: flex;
  flex-direction: column; */
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Job Opportunity */
.job-opportunity {
  width: 400px;
  height: 150px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Icons */
.s-dash-icon {
  margin-right: 10px;
}

/* Notifications & Updates */
.s-dash-notification {
  width: 600px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.s-dash-guid {
  width: 400px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.s-dash-analytics {
  width: 400px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* student: create profile */
.profile-container {
  gap: 30px;
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  background: #e3b324;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.s-form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  gap: 15px;
  background-color: #f9f9ed;
  border-radius: 10px;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.s-form-section label {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.s-form-section input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #03071e;
  color: white;
  font-size: 16px;
  outline: none;
  border: 1px solid #fff;
  /* max-width: 500px; */
  width: 100%;
}

.s-form-section input:hover {
  background-color: #023047;
  transition: 0.3s ease-in-out;
}

.form-sec-btn {
  padding: 10px;
  width: 100px;
  background-color: #03071e;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.form-sec-btn:hover {
  background-color: #023047;
  transition: 0.3s ease-in-out;
}

/* EDUCATION SECTION */
.s-education-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  gap: 15px;
  background-color: #f9f9ed;
  border-radius: 10px;
  padding: 20px;
}

.s-education-sec label {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 600;
}

.s-education-sec input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  background-color: #03071e;
  color: white;
  font-size: 16px;
  outline: none;
  border: 1px solid #fff;
  /* max-width: 500px; */
  width: 100%;
}

.s-education-sec n input:hover {
  background-color: #023047;
  transition: 0.3s ease-in-out;
}

.form-sec-btn {
  padding: 10px;
  width: 100px;
  background-color: #03071e;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.form-sec-btn:hover {
  background-color: #023047;
  transition: 0.3s ease-in-out;
}
/*input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 80px;
  resize: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #007bff;
  color: white;
} */
