/* Reset Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Student Dashboard Container */
.stu-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 80px;
  width: 100%;
  background-color: #003566;
  align-items: start;
}

/* Profile Card */
.profile-card {
  width: 400px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Titles and Text */
.dash-title {
  color: #03071e;
  font-size: 24px;
  text-align: center;
}

.dash-text {
  color: #03071e;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Job Opportunity */
.job-opportunity {
  width: 400px;
  height: 150px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Icons */
.s-dash-icon {
  margin-right: 10px;
}

/* Notifications & Updates */
.s-dash-notification,
.s-dash-guid,
.s-dash-analytics {
  width: 400px;
  height: 200px;
  background-color: #f9f9ed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
