* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.admin-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 80px;
}

.admin-container h1 {
  text-align: center;
  border-radius: 5px;
  margin-bottom: 80%;
}

.a-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 80%;
}

.a-grid-box {
  height: 75%;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease-in-out;
}

.a-grid-box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;
}

.a-grid-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.a-grid-p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.blue {
  background-color: #1f23a3;
}

.yellow {
  background-color: #e3b324;
}

.green {
  background-color: #1c9c68;
}

.purple {
  background-color: rebeccapurple;
}
