* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

/* navbar */
.navbar {
  padding: 15px 7%;
  height: 75px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo h1 {
  width: 100%;
  color: black;
  font-size: 24px;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
}

/* navigation links ul */
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Default NavLink styles */
.navbar a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 16px;
}

/* Active NavLink styles */
.navbar a.active {
  /* color: white; */
  border-radius: 5px;
}

/* li */
li {
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 530;
  cursor: pointer;
  transition: 0.3s ease;
  background: none;
  padding: 5px;
}

/* Hover Effect */
li:hover {
  background: beige;
  border-radius: 5px;
  transition: 0.5s;
}

/* main */
main {
  display: flex;
  margin: 25%;
}

.login {
  background-color: orange;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
}
