/* @import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Parkinsans:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"); */

/* container details */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  width: 380px;
  /* max-width: 90%; */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* header: only sign up changed*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

/* sign up */
.text {
  color: #ff8000;
  font-size: 28px;
  font-weight: 700;
}

/* inputs: dropdonwn ,name, email, ps, confirm ps */
.inputs {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  gap: 15px;
}

/* dropdown input */
/* label for select user type */
label {
  font-weight: 500;
  /* margin-bottom: 5px; */
  font-size: 14px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
}

/* outer input */
.input {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30px;
  background: orange;
  border-radius: 5px;
}

/* input ICON */
.input .icon {
  margin-right: 10px;
  color: black;
  font-size: 20px;
}

/* inner input */
.input input {
  height: 40px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
}

/* forgot password */
.forgot-password {
  text-align: right;
  color: black;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

/* click me */
.forgot-password span {
  color: blue;
  cursor: pointer;
}

/* submit container */
.submit-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

/* submit */
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 40px;
  color: black;
  background: #ff8000;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  background: #e67600;
}
/* submit btn gray class */
.gray {
  background: #ffde5b;
  color: black;
}
