/* Ensures the content section takes up space */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Prevents content from appearing below the footer */
.page-content {
  flex-grow: 1;
  padding: 20px;
}

/* blank space container */
.stu-container {
  margin-left: 350px; /* Same width as sidebar */
  flex-grow: 1; /* Takes remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px); /* Align with navbar */
  background-color: white;
}
